<!-- This table page builds a table based on jinja 2 and a passed json. 
    Each row offers an "Edit" button that redirects to a setting page for the respective entry.  -->
    {% extends "masterPage.html" %}

    {% block content %}
    <div class="row">
    
        <!-- Left Rail -->
        {% include "menu.html" %}
    
        <!-- Middle + Right Rail -->
        <div class="col-9 col-xl-10 col-md-9">
            <div class="section">
                <div class="flex-center-vertical">
                    <h2>Device List</h2>
                </div>
    
                <!--Alert for error message-->
                <!--PASS INFO: Pass the following information to the template: error=True/False ; errormessage="xxx" ; errorcode=xxx-->
                {% include "alert.html" %}
                    <div class="responsive-table">
                        <!--CUSTOMIZE: Change table content as needed -->
                        <table class="table table--lined table--selectable table">
                            <thead>
                                <tr>
                                    <th class="sortable">Hostname<span class="sort-indicator icon-dropdown"></span></th>
                                    <th class="text-center">System IP</th>
                                    <th class="text-center hidden-xs-down">Site ID</th>
                                    <th class="hidden-md-down">Rechability</th>
                                    <th class="hidden-lg-down">Device State</th>
                                    <th class="hidden-lg-down">Validity</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <form action="/devices" method="POST">
                                {% for device in devices %}
                                    <tr>
                                        <td>
                                            <span class="icon-router-outline icon-size-20 half-margin-right text-light"></span>
                                            <span></span>
                                            <span>{{device["host-name"]}}</span>
                                        </td>
                                        <td class="text-center">
                                            <span>{{device["system-ip"]}}</span>
                                        </td>
                                        <td class="text-center">
                                            <span>{{device["site-id"]}}</span>
                                        </td>
                                        <td class="hidden-md-down">{{device["reachability"]}}</td>
                                        <td class="hidden-md-down">{{device["deviceState"]}}</td>
                                        <td class="hidden-lg-down">{{device["validity"]}}</td>
                                        <td class="hidden-lg-down">
                                            <select name="action_{{device.uuid}}">
                                                <option value="deviceDetail">Get Device Details</option>
                                                <option value="editDeviceVars">Change Device Variables</option>
                                                <option value="detachTemplate">Detach from Template</option>
                                                <option value="changeValidity">Change Validity</option>
                                            </select>
                                        </td>
                                        <td class="hidden-lg-down">
                                            <button name="editEntry" value="{{device.uuid}}" type="submit" class="btn btn--link"
                                                    style="padding-left:0px;" type="submit">Submit 
                                            </button>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </form>
                            </tbody>
                        </table>
                        <!--CUSTOMIZATION END-->
                    </div>
            </div>
    </div>
    
    {% endblock %}