<!-- This table page builds a table based on jinja 2 and a passed json. 
    Each row offers an "Edit" button that redirects to a setting page for the respective entry.  -->
    {% extends "masterPage.html" %}

    {% block content %}
    <div class="row">
    
        <!-- Left Rail -->
        {% include "menu.html" %}
    
        <!-- Middle + Right Rail -->
        <div class="col-9 col-xl-10 col-md-9">
            <div class="section">
                    <div class="flex-center-vertical">
                    <h2>Device {{device["host-name"]}} validity</h2>
                    </div>
            </div>
    
                <!--Alert for error message-->
                <!--PASS INFO: Pass the following information to the template: error=True/False ; errormessage="xxx" ; errorcode=xxx-->
                {% include "alert.html" %}

                <div class="panel panel--loose panel--raised base-margin-bottom">
                    <div class="section">
                        <div class="row">
                            <h6>Current Validity Status : {{validity}}</h6>
                        </div>
                        <br>
                        <form action="/validity" method="POST">
                            <input type="hidden" id="device_id" name="device_id" value="{{device["uuid"]}}">
                            <div class="row">
                                <div class="col-md-2">
                                    <button name="editEntry" value="valid" class="btn btn--success">Valid</button>
                                </div>
                                <div class="col-md-2">
                                    <button name="editEntry" value="invalid" class="btn btn--danger">Invalid</button>
                                </div>
                                <div class="col-md-2">
                                    <button name="editEntry" value="staging" class="btn btn--secondary">Staging</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    {% endblock %}