<!-- This table page builds a table based on jinja 2 and a passed json. 
    Each row offers an "Edit" button that redirects to a setting page for the respective entry.  -->
    {% extends "masterPage.html" %}

    {% block content %}
    <div class="row">
    
        <!-- Left Rail -->
        {% include "menu.html" %}
    
        <!-- Middle + Right Rail -->
        <div class="col-9 col-xl-10 col-md-9">
            <div class="section">
                <div class="flex-center-vertical">
                    <h2>Device {{device["host-name"]}} details
                        <!--CUSTOMIZE: Add headline of page here-->
                    </h2>
                </div>
    
                <!--Alert for error message-->
                <!--PASS INFO: Pass the following information to the template: error=True/False ; errormessage="xxx" ; errorcode=xxx-->
                {% include "alert.html" %}

                <div class="panel panel--loose panel--raised base-margin-bottom">
                    <div class="section">
                        {% for dict_item in devices %}
                            {% for key, value in dict_item.items() %}
                            <div class="row">
                                <div class="col-md-4">
                                    <h6>{{key}}</h6>
                                </div>
                                <div class="col-md-8">
                                    <h6>{{value}}</h6>
                                </div>
                            </div>
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
                <!--CUSTOMIZE: Change pagination content as needed -->
                <ul class="pagination pull-right">
                    <li><a class="disabled" href="javascript:;"><span class="icon-chevron-left-double"></span></a></li>
                    <li><a class="disabled" href="javascript:;"><span class="icon-chevron-left"></span></a></li>
                    <li class="active"><a href="javascript:;">1</a></li>
                    <li><a href="javascript:;">2</a></li>
                    <li><a href="javascript:;">3</a></li>
                    <li><a href="javascript:;">4</a></li>
                    <li><span class="icon-more"></span></li>
                    <li><a href="javascript:;">16</a></li>
                    <li><a href="javascript:;"><span class="icon-chevron-right"></span></a></li>
                    <li><a href="javascript:;"><span class="icon-chevron-right-double"></span></a></li>
                </ul>
                <!--CUSTOMIZATION END-->
            </div>
        </div>
    </div>
    
    {% endblock %}