<!-- This table page builds a table based on jinja 2 and a passed json. 
    Each row offers an "Edit" button that redirects to a setting page for the respective entry.  -->
    {% extends "masterPage.html" %}

    {% block content %}
    <div class="row">
    
        <!-- Left Rail -->
        {% include "menu.html" %}
    
        <!-- Middle + Right Rail -->
        <div class="col-9 col-xl-10 col-md-9">
            <div class="section">
                <div class="flex-center-vertical">
                    <h2>Device {{device["host-name"]}} template variables
                        <!--CUSTOMIZE: Add headline of page here-->
                    </h2>
                </div>
    
                <!--Alert for error message-->
                <!--PASS INFO: Pass the following information to the template: error=True/False ; errormessage="xxx" ; errorcode=xxx-->
                {% include "alert.html" %}

                <div class="panel panel--loose panel--raised base-margin-bottom">
                    <div class="section">
                        <div class="panel panel--loose panel--raised base-margin-bottom">
                            <form action="/template" method="POST">
                                <input type="hidden" id="device_id" name="device_id" value="{{device["uuid"]}}">
                                <input type="hidden" id="temp_id" name="temp_id" value="{{template_id}}">
                                <input type="hidden" id="code" name="code" value="edit">
                                <h2 class="subtitle">Template Selected : {{template_name}}<!--CUSTOMIZE: Add headline of second step here--></h2>
                                {% for dict_item in device_template_config %}
                                    {% for key, value in dict_item.items() %}
                                    <div class="row">
                                        <div class="col-md-8">
                                            <h6>{{key}}</h6>
                                        </div>
                                        <div class="col-md-4">
                                            <input name="value" value="{{value}}">
                                        </div>
                                        <input name="key" value="{{key}}" hidden>
                                        <br>
                                    </div>
                                    {% endfor %}
                                {% endfor %}
                                <div class="row">
                                    <div class="col-md-8"></div>
                                    <div class="col-md-8">
                                        <button name="editEntry" value="{{device.uuid}}" type="submit" class="btn btn--secondary" type="submit">Submit </button>
                                    </div>
                                </div>                         
                            </form>
                        </div>
                </div>
            </div>
        </div>
    </div>  
    {% endblock %}